html {
  font-family: sans-serif;
  max-width: 65rem;
  margin: auto;
  padding: 1rem;
  background-color: #eff1f5;
  color: #4c4f69;
}

header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

a {
  color: #7287fd;
}

a:hover {
  color: #1e66f5;
}

li {
  display: block;
  text-decoration: none;
  background-color: #ccd0da;
  border: solid;
  border-color: #9ca0b0;
  padding: 0.5rem;
  border-radius: 0.4rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-width: thin;
  width: 100%;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: auto;
  padding: 0;
  gap: 0.5rem;
}

h3 {
  margin: 0;
}

.head {
  width: 4rem;
  height: 4rem;
  border-radius: 25%;
  transition-property: transform;
  transition-duration: 0.3s;
}

.head:active{
  transform: rotate(-360deg);
}

.icons{
  margin-top: 0.4rem;
  display: flex;
  gap: 0.3rem;
}

.icon {
  display: inline-block;
  overflow: hidden;
  width: 3rem;
}

.shiny {
  position: relative;
  overflow: hidden;
}

.shiny::after {
  content: "";
  position: absolute;
  top: calc(var(--y, 0) * 1px - 250px);
  left: calc(var(--x, 0) * 1px - 250px);
  width: 500px;
  height: 500px;
  background: radial-gradient(#7c7f9366, #3984ff00 50%);
  pointer-events: none;

  opacity: 0;
  /*transition: opacity 0.2s;*/
}

.shiny:hover::after {
  opacity: 0.4;
}

@media only screen and (min-width: 600px) {
  ul {
    flex-wrap: nowrap;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color: #cad3f5;
    background-color: #24273a;
  }

  a {
    color: #f0c6c6;
  }

  a:hover {
    color: #8aadf4;
  }

  .shiny::after {
    background: radial-gradient(#5b607866, #00000000 50%);
  }

  li {
    background-color: #363a4f;
    border: solid;
    border-color: #6e738d;
  }

}

