:root {
  --color: #1d171d;
  --background-color: #f6f4f6;
  --link-color: #257d3d;
  --link-hover-color: #a38fa3;
  --card-background-color: #ede9ed;
  --border-color: #dbd1db;
  --shiny-color: #a38fa366;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #e3dfe3;
    --background-color: #1d171d;
    --link-color: #a6b93c;
    --link-hover-color: #d1dc93;
    --card-background-color: #372f37;
    --border-color: #4d424d;
    --shiny-color: #a38fa366;
  }
}

html {
  font-family: sans-serif;
  max-width: 65rem;
  margin: auto;
  padding: 1rem;
  background-color: var(--background-color);
  color: var(--color);
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

h3 {
  margin: 0;
}

.icon {
  display: inline-block;
  overflow: hidden;
  border-radius: 0.4rem;
}

.text-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.back-link {
  display: inline-block;
  margin-bottom: 1rem;
}
